+#ant specific
+dist/
+build/
+ 
+#netbeans specific
+core
+A1_Team9/nbproject/*
+A1_Team9/screenshots/*
+!nbproject/project.properties
+!nbproject/project.xml
+ 
+#java specific
+*.class
+ 
+#general swap/backup files
+*.so
+*.log
+*.out
+*~
+*.swp
+*.DS_Store
+*.lock
/A1_Team9/nbproject/private/
