+
+#netbeans specific
+core
+A1_Team9/nbproject/*
+A1_Team9/screenshots/*
+A2_Team9/nbproject/*
+A3_Team9/nbproject/*
+!nbproject/project.properties
+!nbproject/project.xml
+.gitignore 
+
+#java specific
+*.class
+ 
+#general swap/backup files
+*.so
+*.log
+*.out
+*~
+*.swp
+*.DS_Store
+*.lock
/A1_Team9/nbproject/private/
/A2_Team9/nbproject/private/
/A3_Team9/nbproject/private/
A3_Team9/data.json
A3_Team9/package.json
A3_Team9/node_modules